<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="sim" default="false"/>
	
	<!-- Launch joint state publisher controller -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/starbaby" args="
			joint_state_controller
			mobile_base_controller
			--timeout 2400
	" if="$(arg sim)"/>
	
	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
			respawn="false" output="screen" ns="/starbaby">
		<remap from="/starbaby" to="/starbaby/joint_states" />
	</node>
</launch>