<launch>
	<arg name="sim" default="false"/>
	
	<machine name="localhost" address="localhost" env-loader="/opt/ros/kinetic/env.sh"/>
	
	<!-- Description  -->
	<include file="$(find starbaby_description)/launch/starbaby_description.launch">
	</include>
	
	<!-- Hardware interface -->
	<include file="$(find starbaby_base_controller)/launch/starbaby_base_controller.launch">
	</include>
	
	<!-- State  -->
	<include file="$(find starbaby_state)/launch/starbaby_state.launch">
	</include>
	
	<!-- Control 
	<include file="$(find starbaby_control)/launch/starbaby_control.launch">
		<arg name="sim" value="$(arg sim)"/>
	</include -->
	
	<!-- IMU -->
	<include file="$(find starbaby_imu)/launch/starbaby_imu.launch">
	</include>
	
	<!-- Lidar -->
	<include file="$(find xv_11_laser_motor_control)/launch/xv_11_laser.launch">
	</include>
	
	<!-- Sensor
	<include file="$(find starbaby_sensor)/launch/starbaby_sensor.launch">
	</include -->
	
	<!-- Trilateration
	<include file="$(find starbaby_trilateration)/launch/starbaby_trilateration.launch">
	</include -->
	
	<!-- Localization
	<include file="$(find starbaby_localization)/launch/starbaby_localization.launch">
	</include -->
	
	<!-- Navigation
	<include file="$(find starbaby_navigation)/launch/starbaby_navigation.launch">
	</include -->
	
	<!-- Teleop  -->
	<include file="$(find starbaby_teleop)/launch/starbaby_teleop.launch">
	</include>

	<!-- Calibration -->
	<include file="$(find starbaby_calibrate)/launch/starbaby_calibrate.launch">
	</include>

	<!-- Launcher -->
	<include file="$(find starbaby_launcher)/launch/starbaby_launcher.launch">
	</include>

	<!-- LCD Matrix / Eyes-->
	<include file="$(find starbaby_led_matrix)/launch/starbaby_led_matrix.launch">
	</include>

	<!-- Main node -->
	<include file="$(find starbaby)/launch/homologation.launch">
	</include>

</launch>
